<%= link_to domain, class: "inline-flex items-center px-1.5 space-x-1 h-8 rounded-md bg-white text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 #{'translate-y-1.5' if profile_picture.present?}" do %>
  <% if profile_picture.present? %>
    <%= image_tag profile_picture, class: "w-6 h-6 rounded-full" %>
  <% end %>
  <span class="text-sm font-medium"><%= name %></span>
<% end %>
