https://jaggdl.dev {
  reverse_proxy jaggdl:4200
  tls /etc/certificates/jaggdl.dev.crt /etc/certificates/jaggdl.dev.key
}

https://chano.dev {
  reverse_proxy chano:4201
  tls /etc/certificates/chano.dev.crt /etc/certificates/chano.dev.key
}

https://memo.dev {
  reverse_proxy memo:4202
  tls /etc/certificates/memo.dev.crt /etc/certificates/memo.dev.key
}
