<h1 class="text-2xl font-bold mb-6">Visitors</h1>

<div data-controller="analytics">
  <div>
    <label for="time_period">Select Time Period:</label>
    <select id="time_period" name="time_period" data-analytics-target="timePeriodSelect">
      <%= options_for_select(time_period_options, params[:time_period]) %>
    </select>
  </div>
  <div>
    <label for="group_period">Select Group Period:</label>
    <select id="group_period" name="group_period" data-analytics-target="groupPeriodSelect">
      <%= options_for_select(group_period_options, params[:group_period]) %>
    </select>
  </div>
</div>

<div id="chart-container">
  <%= line_chart @visitors_data %>
</div>
