
<ul role="list" class="divide-y divide-gray-100">
  <% @connections_in.each do |connection| %>
    <li class="flex gap-x-4 py-5">
      <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      <div class="min-w-0">
        <%= link_to connection.domain, "https://#{connection.domain}", target: '_blank' %>
        <p class="mt-1 truncate text-xs leading-5 text-gray-500">"<%= connection.message %>"</p>
      </div>
    </li>
  <% end %>
</ul>
