<div class="w-16 h-16 mr-4 float-left rounded-full overflow-hidden">
  <% if owner_profile.profile_picture.present? %>
    <picture>
      <% if owner_profile.profile_picture.sm.avif.present? %>
        <source srcset="<%= owner_profile.profile_picture.sm.avif.url %>" type="image/avif">
      <% end %>
      <% if owner_profile.profile_picture.sm.webp.present? %>
        <source srcset="<%= owner_profile.profile_picture.sm.webp.url %>" type="image/webp">
      <% end %>
      <img src="<%= owner_profile.profile_picture.sm.url %>" fetchpriority="high" alt="<%= t('profile_picture_alt', name: owner_profile.short_name) %>" class="w-full h-full object-cover">
    </picture>
  <% end %>
</div>
