<%
  classes_with_size = local_assigns[:classes].present? && local_assigns[:classes].include?('w-') && local_assigns[:classes].include?('h-') ? local_assigns[:classes] : "#{local_assigns[:classes]} w-16 h-16"
  profile_picture = owner_profile.profile_picture&.public_send(size)
%>
<div class="<%= classes_with_size %> rounded-full overflow-hidden">
  <% if profile_picture %>
    <picture>
      <% if profile_picture.webp.present? %>
        <source srcset="<%= profile_picture.webp.url %>" type="image/webp">
      <% end %>
      <img src="<%= profile_picture.url %>" fetchpriority="high" alt="<%= t('profile_picture_alt', name: owner_profile.short_name) %>" class="w-full h-full object-cover">
    </picture>
  <% end %>
</div>
