<%
  size_classes = {
    "xs" => "w-4 h-4",
    "sm" => "w-8 h-8",
    "md" => "w-16 h-16",
    "lg" => "w-24 h-24",
    "xl" => "w-32 h-32"
  }
  size = local_assigns[:size] || "lg"
  classes = size_classes[size]

  profile_picture = owner_profile.profile_picture&.public_send(size)
%>
<div class="<%= classes %> rounded-full overflow-hidden">
  <% if profile_picture %>
    <picture>
      <% if profile_picture.webp.present? %>
        <source srcset="<%= profile_picture.webp.url %>" type="image/webp">
      <% end %>
      <img src="<%= profile_picture.url %>" fetchpriority="high" alt="<%= t('profile_picture_alt', name: owner_profile.short_name) %>" class="w-full h-full object-cover">
    </picture>
  <% end %>
</div>
