<div class="max-w-md mx-auto mt-8">
  <form id="new_connection_form" action="<%= connection_out_index_path %>" method="post">
    <div class="mb-4">
      <label for="domain" class="block text-gray-700 text-sm font-bold mb-2">Domain:</label>
      <input type="text" id="domain" name="out[domain]" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Create Out
      </button>
    </div>
  </form>
</div>
