<div class="space-y-4">
  <h1 class="text-3xl font-bold w-full"><%= I18n.t 'full_name' %></h1>
  <div class="flex items-start">
    <%= image_tag("headshot.jpg", class: "w-16 h-16 mr-4 float-left rounded-full") %>
    <p class="prose">
      <%= raw(I18n.t 'description') %>
    </p>
  </div>
  <article class="prose">
    <p>
      <%= raw(I18n.t 'contact') %>
    </p>
  </article>
</div>
